This is the list of available template tokens:

The format to use in the template is: {{TOKEN_NAME}}

CURRENT_YEAR: {{CURRENT_YEAR}}
CURRENT_MONTH: {{CURRENT_MONTH}}
CURRENT_DAY: {{CURRENT_DAY}}
CURRENT_MINUTE: {{CURRENT_MINUTE}}
CURRENT_HOUR: {{CURRENT_HOUR}}
CURRENT_SECOND: {{CURRENT_SECOND}}
CURRENT_DAY_OF_WEEK: {{CURRENT_DAY_OF_WEEK}}
CURRENT_DAY_OF_WEEK_SHORT: {{CURRENT_DAY_OF_WEEK_SHORT}}
CURRENT_MONTH_NAME: {{CURRENT_MONTH_NAME}}
CURRENT_MONTH_NAME_SHORT: {{CURRENT_MONTH_NAME_SHORT}}


