# Review of Week for {{CURRENT_DAY_OF_WEEK}}, {{CURRENT_MONTH_NAME}} {{CURRENT_DAY}}, {{CURRENT_YEAR}}

## What went well?
- 
- 
- 

## What could have gone better?
- 
- 
- 

## What did you learn?
- 
- 
- 

## Items completed for past week
- 
- 
- 

## Review of calendar items and meetings for past week
- 
- 
- 

## Review of new and updated notes over the past week
- 
- 
- 

## Review of intended vs actual tasks for the week
- 
- 
- 

## Check which goals were accomplished
- 
- 
- 

## Review monthly and annual goals
- 
- 
- 

## Revise projects items if necessary
- 
- 
- 

## Check key metrics
How do you measure yourself week over week?

- hours worked?
- lines of code written?
- calls made?



